@import 'var';
// -------------------base------------------------------
*{ margin:0;padding:0; }
ul,li{list-style:none;}
a{text-decoration:none;}
.fl{ float:left;}
.fr{float:right;}
.clearfix::after{content:''; height:0; display:block; clear:both; overflow:hidden; visibility:hidden;}
//------------------- header-----------------------------
.head{padding:0 32px; background:#FAFAFA; border-bottom:1px solid #E0E0E0;width:1200px;
    .sign{
        width:400px;
        ul{ 
            li{
                float:left; font-size:$smallfont;line-height:30px;
                a{
                    color:#666;
                }
                &:nth-child(2),&:nth-child(3){
                    margin-left:5px;

                }
                .user-na{
                    color:#58bc58;
                    padding:0 10px;
                }
            }
            .btnout{
                    &:hover{
                        color:#f00;
                        cursor:pointer; 
                    }              
            }
        }
    }
    .infor{
        float:right;
        margin-right:40px;
        ul{
            .inforli{
                float:left;
                height:31px;
                line-height:31px;
                position:relative;
                .inlist{
                    margin-top:8px;
                    display:block;
                    height:14px;
                    font-size:12px;
                    line-height:14px;
                    padding:0 12px;
                    border-right:1px solid #ccc;
                    color:#666666; 
                }
                &:first-child{
                    .inlist{
                        padding:0 10px 0;
                        span{
                            display:inline-block;
                            width:80px;
                            text-align:center;
                            height:31px;
                        }
                    }
                    i{
                        position:absolute;
                        top:0;
                        right:10px;
                        font-size:12px;
                    }
                }
                .account{
                    height::84px;
                    width:100px;
                    position:absolute;
                    top:30px;
                    left:0px;
                    font-size:12px;
                    border:1px solid #ccc;
                    padding-bottom:5px;
                    display:none;
                    li{
                        height:22px;
                        color:$mainColor;
                        text-align:center;
                        a{
                            display:block;
                            border:0 none;
                            text-align:center;
                            font-size:12px;
                            height:22px;
                            width:100px;
                            line-height: 22px;
                            color:#666;
                            &:hover{
                                color:#FF1A3A;
                                text-decoration:underline;
                            }
                        }
                    }
                }
                &:hover .account{
                    display:block;
                    background:#fff;
                    border-top:3px solid #fff;
                }
                &:first-child:hover{
                      background:#fff;
                      border-color:#ccc;
                      // border-right:1px solid #ccc;
                      // border-left:1px solid #ccc; 
                }
                &:nth-child(3){
                    a{
                        border-right:0 none;
                    }
                }
                &:nth-child(4){
                    font-size:$normalfont;
                    color:#FF1A3A;
                }
            }
        }
    }
}
//---------------- search---------------------------------
.search{
    width:1200px;
    height:90px;
    padding-left:32px;
    h1{
        float:left;
        width:230px;
        height: 90px;
    }
    .search_m{
        height:65px;
        margin-left:125px;
        padding-top:25px;
        float:left;
        width:450px;
        input{
            width:360px;
            height:30px;
            border:2px solid #02A3F0;
        }
        button{
            width:70px;
            height:30px;
            background:#02A3F0;
            border:0 none;
            color:#fff;
        }
        p{
            height:26px;
            line-height:26px;
            font-size:$smallfont;
            a{
                color:#000;
                margin:0 5px;
                &:nth-of-type(1),&:nth-of-type(4){
                    color:#FF1A3A;
                }
            }
        }
    }
    .shopcar{
        position:relative;
        margin-top:24px;
        margin-left:200px;
        width: 195px;
        height: 42px;
        background:#EFEFEF;
        float:left;
        line-height: 42px;
        border-radius:21px;
        box-shadow:1px 1px 1px 1px #ccc;
        z-index:20000;
        &:hover{
            background:#fff;
            border-bottom:2px solid #fff;
            .cargoods{
                display:block;
            }
        }
        i{
            display:inline-block;
            width: 40px;
            height: 40px;
            border-radius:20px;
            border:1px solid #ccc;
            text-align:center;
            line-height: 40px;
            font-size:26px;
            color:#F13521;
        }
        .cart{
           float:right;
           margin-right:60px;
           font-size:$smallfont;
           color:$mainColor;
           span{
            display:inline-block;
            width: 16px;
            color:#f00;
            text-align:center;
           }
        }
    }
    .cargoods{
        position:absolute;
        top:42px;
        right:16px;
        width:307px;
        border:1px solid #ccc;
        z-index:1000;
        display:none;
        ::-webkit-scrollbar {width: 4px;height:6px;}
        ::-webkit-scrollbar-track-piece{background-color: #eee;margin: -2px;}
        ::-webkit-scrollbar-thumb{background: #000;min-height: 150px;min-width: 150px;border-radius: 10px;}
        ::-webkit-scrollbar-thumb:vertical:hover{background: red;}
        ::-webkit-scrollbar-thumb:horizontal:hover{background: red;}
        .carlist{
            max-height:300px;
            overflow:auto;
            li{
                height:66px;
                border-bottom:1px dotted #ccc;
                background:#fff;
                img{
                    margin-top:8px;
                    width:50px;
                    height:50px;
                    float:left;
                }
                .listname{
                    float:left;
                    width:130px;
                    font-size:12px;
                    color:#666;
                    line-height:18px;
                    margin-left:10px;
                    margin-top:10px;
                }
                .carprice{
                    padding-left:10px;
                    height:66px;
                    float:left;
                    width:90px;
                    span{
                        color:#FF1A3A;
                    }
                    .pric::before{
                        content:'￥';
                    }
                    .qty::before{
                        content:'x';
                        margin:0 3px;
                    }
                    p{
                        height:30px;
                        font-size:12px;
                        color:#666;
                        text-align:center;
                    }
                    button{
                        margin-left:25px;
                    }
                }
            }
        }
        .carbot{
            text-align:center;
            height:60px;
            background:#F8F8F8;
            padding:7px;
            p{
                font-size:12px;
                color:#666;
                line-height: 18px;
                span{
                    margin:0 10px;
                }
                strong{
                    margin:0 5px;
                    color:#FF1A3A;
                }
                .str2::before{
                    content:'￥';
                }
            }
            a{
                display:inline-block;
                width:100px;
                height:30px;
                background:#FC1C5A;
                line-height: 30px;
                text-align:center;
                color:#fff;
                border:1px solid #ccc;
                padding:0 5px;
                border-radius:3px;
            }
        }
    }
}
// ----------------------nav------------------------
.nav{
    padding:0 32px;
    width:1200px;
    height: 40px;
    background:#110F10;
    .list{
        float:left;
        width: 230px;
        position:relative;
        .listname{
            &:hover{
                cursor:pointer;
            }
            display:block;
            background:#02B2ED;
            color:#fff;
            line-height: 40px;
            text-align:center;
        }
    ul{
        z-index:1000;
        position:absolute;
        background:#fff;
        top:40px;
        left:0;
        .firstli{
            padding:0 0 0 18px;
            height: 82px;
            border-bottom:1px solid #E7E7E7;
            background:#F8F8F8;
            border-left:2px solid #F8F8F8;
            position:relative;
            // box-sizing:border-box;
            p{
                height: 26px;
                line-height: 26px;
                color:#333333;
                font-size:14px;
                font-weight:bold;
            }
            a{
                display:inline-block;
                height: 22px;
                line-height: 22px;
                margin-right:10px;
                font-size:12px;
                color:#666666;
                &.light{
                    color:#FF1A3A;
                }
                &:hover{
                    color:#02B2ED;
                }
            }
            &:hover{
                background:#fff;
                border-left-color:#02B2ED;
                // border-bottom:0 none;
                z-index:1000;
                width:208px;
                .sidenav{
                    display:block;
                }
            }
            &:last-child a{
                margin-right:8px;
            }
            &:nth-child(2) .sidenav .commend i{background-position:-220px 0;}
            &:nth-child(3) .sidenav .commend i{background-position:-450px 0;}
            &:nth-child(4) .sidenav .commend i{background-position:0 -210px;}
            &:nth-child(5) .sidenav .commend i{background-position:-220px -210px;}
            &:nth-child(6) .sidenav .commend i{background-position:-450px -210px;}
            &:nth-child(7) .sidenav .commend i{background-position:0 -400px;}
            .sidenav{
                width: 671px;
                position:absolute;
                top:20px;
                left:228px;
                border:1px solid #ccc;
                border-left:0 none;
                display:none;
                &>ul{
                    top:0;
                    padding:0 20px;
                    float:left;
                    li{
                    margin:0;
                    padding:0;
                    height: 46px;
                    width: 401px;
                    background:#fff;
                    border-bottom:1px dotted #ccc;
                    span{
                        float:left;
                        text-align:left;
                        height: 46px;
                        width:56px;
                        line-height: 46px;
                        font-size:14px;
                        font-weight:bold;
                        color:#444;
                        }
                    &:nth-child(1),&:nth-child(2),&:nth-child(8){
                        height:66px;
                        span{
                          height: 66px;
                        line-height: 66px;  
                        }
                    }
                    .span-list{
                        float:left;
                        width:330px;
                        overflow:hidden;
                        padding-top:12px;
                        margin-left:15px;
                        a{
                            float:left;
                            font-size:12px;
                            color:#666;
                            margin:0 7px;
                            height:22px;
                            line-height: 22px;
                            &:hover{
                            color:#02B2ED;
                            }
                        }
                    }
                    }
                } 
                .commend{
                    float:right;
                    background:#F8F8F8;
                    padding:0 14px;
                    width:230px;
                    box-sizing:border-box;
                    p{
                        color:#000;
                        font-size:14px;
                        height: 32px;
                        line-height: 32px;
                        border-bottom:1px solid #666;
                        margin-bottom:10px;
                    }
                    a{
                        display:inline-block;
                        width: 80px;
                        height:22px;
                        line-height: 22px;
                        font-size:12px;
                        color:#666;
                        &:hover{
                        color:#02B2ED;
                    }
                    }
                    i{
                        display:block;
                        width: 201px;
                        height: 188px;
                        background:url("../img/nav.fw.png") no-repeat;
                    }
                }    
            }
        }
    }  
    }
    .navlist{
        float:left;
        margin-left:10px;
        height:40px;
        ul{
            li{
                float:left;
                a{
                    display:block;
                    padding:0 30px;
                    font-size:16px;
                    color:#fff;
                    border-right:1px solid #565656;
                    margin-top:10px;
                    &:hover{
                        color:#02B2ED;
                    }
                }
                &:last-child a{
                    border-right:0 none;
                }
                &:nth-child(6) a,&:nth-child(7) a{
                    color:#FF1A3A;
                }
            }
        }
    }
}
// -----------------------foot---------------------------
.foot{
    width:1200px;
    height:407px;
    .foot_h{
        width:1200px;
        padding:25px 32px;
        height:150px;
        border-top:1px solid #ccc;
        border-bottom:1px solid #ccc;
        background:#F9F9F9;
        .telinfor{
            float:left;
            border-right:1px solid #E1E1E1;
            padding-left:34px;
            width:240px;
            height:150px;
            position:relative;
            i{
                position:absolute;
                top:-6px;
                left:40px;
                font-size:40px;
            }
            p:nth-of-type(1){
                margin-left:70px;
                color:#FF1A3A;
                font-size:16px;
                height:18px;
                line-height: 18px;
            }
            p:nth-of-type(2){
                margin-left:120px;
                color:#444444;
                font-size:12px;
            }
            p:nth-of-type(3){
                margin-top:16px;
                color:#666666;
                font-size:16px;
                height:22px;
                line-height: 22px;
                padding-left:30px;
                span{
                    display:inline-block;
                    width:42px;
                    height:22px;
                    background:#86D90B;
                    color:#fff;
                    border-radius:5px;
                    line-height: 22px;
                    padding-left:20px;
                    font-size:12px;
                    margin-left:8px;
                }
            }
            .email{
                margin-top:10px;
                overflow:hidden;
                input{
                    float:left;
                    width: 138px;
                    height: 26px;
                    border:1px solid #ccc;
                }
                button{
                    float:left;
                    width: 54px;
                    height: 28px;
                    background:#929292;
                    color:#fff;
                    line-height:26px;
                    border:0 none;
                    border-radius:3px;
                }
            }
            p:last-of-type{
                color:#9B9B9B;
                font-size:14px;
            }
        }
        .help{
            float:left;
            border-right:1px solid #E1E1E1;
            width:100px;
            padding-left:25px;
            height:150px;
            dt{
                height:24px;
                font-size:16px;
                line-height: 24px;
                color:#444;
                margin-bottom:14px;
            }
            dd{
                height:22px;
                line-height: 22px;
                font-size:12px;
                color:#999999;
            }
        }
        img{
          margin-top:12px;
          margin-left:34px;
        }
    }
    .foot_m{
        height:160px;
        border-bottom:1px solid #ccc;
        padding-left:200px;
        .server{
            width: 215px;
            float:left;
            text-align:center;
            line-height:68px;
            p:nth-child(1){
                font-size:24px;
                color:#999999;
                line-height:68px;
                height:68px;
                margin-top:24px;
                position:relative;
                padding-left:20px;
                span{
                    position:absolute;
                    top:-10px;
                    left:100px;
                }
                img{
                    float:left;
                }
            }
            p:nth-child(2),p:nth-child(3){
                font-size:12px;
                height:20px;
                line-height: 20px;
                color:#444;
            }
        }
    }
    .foot_b{
        height:44px;
        line-height: 44px;
        text-align:center;
        color:#444;
        font-size:12px;
    }
}    
